<div class="navigation">
  <div (click)="goToHome()"><img src="/assets/images/home.png"></div>
  <div class="push-left" [routerLink]="[ '/planets' ]"><img src="/assets/images/planet.png"></div>
  <div [routerLink]="[ '/starships' ]"><img src="/assets/images/rocket.png"></div>
</div>
<div class="title">Characters</div>
<div class="row equal">
  <div *ngFor="let character of this.characters" class="col-sm-6 d-flex justify-content-center pb-3">
    <div class="card">
      <img class="card-img-top" src="/assets/images/space.png">
      <div class="card-body">
        <h4 class="card-title">{{character.name}}</h4>
        <div class="details-button">
          <button class="btn" type="button" (click)="open(character)">View details</button>

        </div>
      </div>
    </div>
  </div>
</div>