<div class="title">Welcome to Star Wars Facts!</div>
    <div class="row">
      <div class="col-4">
        <div class="planets">
            <img class="img-responsive" src="/assets/images/planets.jpg" alt="">
            <div class="overlay">
                <h2>PLANETS</h2>
                <a class="info" href="#">Discover</a>
             </div>
        </div>
      </div>
      <div class="col-4">
        <div class="characters">
            <img class="img-responsive" src="/assets/images/characters.jpg" alt="">
            <div class="overlay">
                <h2>CHARACTERS</h2>
                <a class="info" href="#">Discover</a>
             </div>
        </div>
      </div>
      <div class="col-4">
        <div class="starships">
            <img class="img-responsive" src="/assets/images/spaceships.jpg" alt="">
            <div class="overlay">
                <h2>STARSHIPS</h2>
                <a class="info" href="#">Discover</a>
             </div>
        </div>
      </div>
    </div>